  html {
    background-image: url('background_coffe_shop.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%;
    font-family: Arial, sans-serif;
}

main {
    margin-top: 4rem;
    margin-left: 2rem;
    color: aliceblue;
    padding: 2rem;
}

.blur {
    filter: blur(5px); /* Adjust the blur amount as needed */
}

header {
    margin: 1rem;
    padding: 1rem;
    background-color: #6F4C3E;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header a {
    color: aliceblue;
    text-decoration: none;
}

.header-link {
    text-decoration: none; /* Menghilangkan underline default */
    color: #ffffff; /* Warna teks */
    position: relative; /* Membuat posisi relatif untuk pseudo-element */
}

.header-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Jarak antara teks dan garis */
    width: 100%;
    height: 2px; /* Ketebalan garis */
    background-color: #fff; /* Warna garis */
    transform: scaleX(0); /* Awalnya garis tidak terlihat */
    transition: transform 0.3s ease; /* Animasi saat hover */
}

.header-link:hover::after {
    transform: scaleX(1); /* Garis terlihat saat hover */
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3e8e41;
}

#orderForm {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 300px;
    background-color: #f9f9f9;
}

#orderForm input, #orderForm select {
    width: 100%;
    padding: 8px;
}